header {  
    text-align: center; 
    padding: 15px; 
}
    
h1 {
    font-family: "Futura", sans-serif;
    font-size: 2em; /* Taille ajustable en fonction de vos besoins */ 
    color: hsl(0, 0%, 29%); /* Couleur grise */ 
    text-shadow: 2px 2px 4px rgba(137, 43, 226, 0.474); /* Ombre violette */ 
}
    
h2 {
    font-family: "Futura", sans-serif;
    font-size: 1.5em;
    color: rgba(253, 253, 255, 0.901);
    text-align: center;
}

h3 {
    font-family: "Futura", sans-serif;
    font-size: 1.2em;
    color: rgba(253, 253, 255, 0.901);
}

body {

    background-image: url('Images/fond.jpg');
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

.element {
    margin:5px;
}

.style {
    font-family: "Helvetica", sans-serif;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.582);
    width: 350px;
    background-color: rgba(172, 98, 212, 0.48);
    text-align: justify;
    padding: 16px;
    margin: 10px;
}

p {
    font-family: "Helvetica" ;
    font-size: 1em ;
    text-align: justify ;
    margin: 0;
    padding: 0;
}

ul {
    font-family: "Helvetica", sans-serif;
    font-size: 1em;
}

ol {
    font-family: "Helvetica", sans-serif;
    font-size: 1.1em;
}

li {
    font-family: "Helvetica", sans-serif;
    font-size: 1em;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-link1 {
    font-family: "Helvetica", sans-serif;
    color:white;
    margin-right: 10px;
}

.footer-link2 {
    font-family: "Helvetica", sans-serif;
    color: white;
    margin-right: 10px;
}

/* CSS pour index. html */

/* Conteneur principal pour les deux containers */
.main-element {
    display: flex;             
    align-items: center; 
    justify-content: center;    
    gap: 0; 
    
}
/* Container 5 (gauche) et Container 6 (droite) */
.container1 {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.container2 .element img {
    margin-left: 10px;  
}
/* CSS pour whydev. html */

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
}

.container3, .container4, .container5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 20px;
    min-width: 250px;
}

/* CSS pour whysimplon. html */

.image {
        display: flex; 
        justify-content: center; 
        align-items: center; 
}

.main-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(172, 98, 212, 0.48);
    padding: 10px;
    margin: 10px;
}